@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body, html{
    background-color: #999999;
    margin: 0;
    padding: 0;
}

.red, .navbar-dark{
    background-color: #4f211d;
}

.gray{
    background-color: #999999;
}

.logo{
    width: 10%;
}

.nav-item:hover, a:hover{
    text-decoration: underline;
}

.img-fluid{
    width: 100%;
}

.logo-gif{
    width: 80%;
}

.full-width{
    width: 100%;
}

a{
    text-decoration: none;
}

.box{ 
    display:inline-block;
    padding-bottom: 0; 
}

.card-img-overlay{
    background-color: #00000033;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.img-side{
    width: 260px;
}

.img-side:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.nav-pills .nav-link.active { 
    background-color: #4f211d;
}

.indent{
    text-indent: 4.25rem;
}

.img-icon{
    height: 130px;
    width: auto;
}

.pagination > li > a{
    color: #999999;
    border-color: #888888;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: #999999;
    background-color: #4f211d;
    border-color: #888888;
}

.pagination > .active > a{
    color: white;
    background-color: #4f211d !Important;
    border: solid 1px #4f211d !Important;
}

.pagination > .active > a:hover{
    background-color: #4f211d !Important;
    border: solid 1px #4f211d;
}
